{% extends 'base.html.twig' %}

{% block title %}Simple Html Todo List!{% endblock %}

{% block body %}
    <div class="content">
        <h1>Todo index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in list %}
                <tr>
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.content }}</td>
                    <td>{{ todo.createdAt ? todo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ todo.inStatus }}</td>
                    <td>
                        <a href="{{ path('todo_view', {'id': todo.id}) }}">show</a>
                        <a href="{{ path('todo_update', {'id': todo.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('todo_create') }}">Create new</a>
    </div>
{% endblock %}
