{% extends 'base.html.twig' %}

{% block title %}Simple Html Todo List!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="content" style="max-width: 800px; margin: 0 auto;">
        <h1>Todo List</h1>

        <table id="selectedColumn" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in list %}
                <tr {% if todo.inStatus > 0 %}class="table-success" style="/*background-color: #f1ffd4*/"{% endif %}>
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.content }}</td>
                    <td>{{ todo.createdAt ? todo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{% if todo.inStatus > 0 %}Done{% endif %}</td>
                    <td>
                        <a href="{{ path('todo_view', {'id': todo.id}) }}"><i class="fas fa-desktop"></i></a>
                        <a href="{{ path('todo_update', {'id': todo.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success float-right" href="{{ path('todo_create') }}">Create new</a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        // $(document).ready(function () {
        $(document).ready( function () {
            $('#selectedColumn').DataTable();
        });
    </script>
{% endblock %}

